<% if admin_signed_in? %>
  <%= form_with url: search_purchases_path, method: :get do |form| %>
    <%= form.text_field :query, placeholder: 'Nome ou CPF/CNPJ do cliente' %>
    <%= form.submit 'Buscar' %>
  <% end %>
<% end %>

<% if @client %>
  <div><h1><%= "#{@client.name} (#{@client.code})" %></h1></div>

  <div id='purchases'>
    <% if @purchases.any? %>
      <% @purchases.each do |purchase| %>
        <div id=<%= purchase.id %> >
          <ul>
            <li>Data: <%= I18n.l(purchase.created_at.to_date) %></li>
            <% purchase.product_items.each do |item| %>
              <li><%= "#{item.quantity} x #{item.product.name}" %></li>
            <% end %>
              <li>Valor Total: $<%= number_with_precision(purchase.value, precision: 2) %> rubis</li>
              <li><%= Purchase.human_attribute_name("status.#{purchase.status}") %></li>
          </ul>
        </div>
      <% end %>
    <% else %>
      <p> Nenhuma compra realizada. </p>
    <% end %>
  </div>
<% end %>
