<div>
  <% unless @product_items.empty? %>
    <h1><%= t('my_cart') %></h1>
    <div>
      <h4>Produtos</h4>
      <% @product_items.each do |item| %>
        <div>
          <div>
            <%= item.product.name %>
          </div>
          <div>
            <% if item.quantity != 1 %>
              <%= button_to '-', dec_quantity_product_product_item_path(item.product, item), method: 'patch' %>
            <% end %>
            <%= item.quantity %>
            <%= button_to '+', sum_quantity_product_product_item_path(item.product, item), method: 'patch' %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div>
      <p>Não há produtos no carrinho</p>
    </div>
  <% end %>
</div>
