<div>
  <%= form_with model: @category do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :category_id, t('select_category') %>
      <%= form.collection_select :category_id, @categories, :id, :name, { prompt: '[Sem categoria relacionada]'} %>
    </div>
    <div>
      <%= form.label :promotion_id, t('select_promotion') %>
      <%= form.collection_select :promotion_id, @promotions, :id, :name, { prompt: '[Sem promoção relacionada]'} %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>