<div>
  <h1><%= @category.name %></h1>

  <div>
    <p>Status: <%= Category.human_attribute_name("status.#{@category.status}") %></p>
    <p>Criado por: <%= @category.admin.name %></p>
  </div>

  <div>
    <h2>Subcategorias</h2>
      <% @category.categories.each do |subcategory| %>
        <ul>
          <li><%= link_to subcategory.name, subcategory %></li>
        </ul>
      <% end %>
      <% if @category.categories.empty? %>
        <p>Não há subcategorias</p>
      <% end %>
    <%= link_to 'Criar subcategoria', new_category_path %>
  </div>
</div>
