<div>
  <h1><%= @category.name %></h1>

  <div>
    <p>Promoção: 
      <% if @category.promotion %>
        <%= link_to @category.promotion.name, @category.promotion %>
      <% else %>
        Não há promoção relacionada
      <% end %>
    </p>
    <p>Status: <%= Category.human_attribute_name("status.#{@category.status}") %></p>
    <p>Criado por: <%= @category.admin.name %></p>
    <% if @category.disabled? %>
      <%= button_to 'Ativar', activate_category_path(@category) %>
    <% else %>
      <%= button_to 'Desativar', deactivate_category_path(@category) %>
    <% end %>
  </div>

  <div>
    <h2>Subcategorias</h2>
      <% @category.categories.each do |subcategory| %>
        <ul>
          <li><%= link_to subcategory.name, subcategory %></li>
        </ul>
      <% end %>
      <% if @category.categories.empty? %>
        <p>Não há subcategorias</p>
      <% end %>
    <%= link_to 'Criar subcategoria', new_category_path %>
    <% if @supercategory %>
      | <%= link_to 'Voltar', category_path(@supercategory) %>
    <% else %>
      | <%= link_to 'Voltar', categories_path %>
    <% end %>
  </div>
</div>
