<%= form_with model: @product do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <p ><%= @product.errors.full_messages_for(:name).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
    <p ><%= @product.errors.full_messages_for(:brand).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :category_id, 'Categorias' %>
    <%= f.collection_select :category_id, @categories, :id, :name, { prompt: '[Sem categoria relacionada]'} %>
    <% if @product.errors.any? %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:categories).first %></p>
    <% end %>
  </div>

    <div>
    <%= f.label :cashback_id, 'Cashback' %>
    <%= f.collection_select :cashback_id, @cashbacks, :id, :extended_description, { prompt: '[Sem cashback relacionado]'} %>
    <% if @product.errors.any? %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:cashbacks).first %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <p><%= @product.errors.full_messages_for(:description).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :sku %>
    <%= f.text_field :sku %>
    <p><%= @product.errors.full_messages_for(:sku).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :width %>
    <%= f.number_field :width %> (em cm)
    <p><%= @product.errors.full_messages_for(:width).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :height %>
    <%= f.number_field :height %> (em cm)
    <p><%= @product.errors.full_messages_for(:height).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :depth %>
    <%= f.number_field :depth %> (em cm)
    <p><%= @product.errors.full_messages_for(:depth).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :weight %>
    <%= f.number_field :weight %> (em kg)
    <p><%= @product.errors.full_messages_for(:weight).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :shipping_price %>
    <%= f.number_field :shipping_price %>
    <p><%= @product.errors.full_messages_for(:shipping_price).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :fragile %>
    <%= f.check_box :fragile %>
    <p><%= @product.errors.full_messages_for(:fragile).first if @product.errors.any? %></p>
  </div>

  <div>
    <% @product.prices.each do |price| %>
      <%= f.fields_for :prices, price do |price_f| %>
        <%= price_f.hidden_field :admin_id, value: current_admin.id %>

        <%= price_f.label :start_date %>
        <%= price_f.date_field :start_date, value: @start_date, readonly: true %>
        <p><%= price.errors.full_messages_for(:start_date).first if price.errors.any? %></p>

        <%= price_f.label :end_date %>
        <%= price_f.date_field :end_date %>
        <p><%= price.errors.full_messages_for(:end_date).first if price.errors.any? %></p>

        <%= price_f.label :value %>
        <%= price_f.number_field :value %>
        <p><%= price.errors.full_messages_for(:value).first if price.errors.any? %></p>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= f.label :photos %>
    <%= f.file_field :photos, multiple: true %>
    <p><%= @product.errors.full_messages_for(:photos).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.label :manual %>
    <%= f.file_field :manual %>
    <p><%= @product.errors.full_messages_for(:manual).first if @product.errors.any? %></p>
  </div>

  <div>
    <%= f.submit 'Cadastrar' %>
  </div>
  
<% end %>