<%= link_to 'Cadastrar Produto', new_product_path if admin_signed_in? %>

<% if @products.any? %>
  <% @products.each do |product| %>
  <div id=<%= product.name %>>
    <p>Nome: <%= link_to product.name, product_path(product) %> </p>
    <p>Marca: <%= product.brand %></p>
    <%= image_tag product.photos.last if product.photos.attached? %>
    <%= Product.human_attribute_name("status.#{product.status}") %>
  </div>
  <% end %>

<% else %>
  <p>Nenhum produto cadastrado</p>
<% end %>
