<div>
  <h1><%=@product.name%> </h1>
  <% if @product.photos.attached? %>
    <% @product.photos.each do |photo| %>
      <%= image_tag photo %>
    <% end %>
  <% end %>
  <p>Marca: <%= @product.brand %></p>
  <p>Categoria: <%= @product.category.name %></p>
  <p>SKU: <%= @product.sku %></p>
  <p>Avaliação: <%= number_with_precision(@rating_average,  precision: 1) %></p>
  <% unless admin_signed_in? %>
    <%= button_to 'Adicionar ao carrinho ', product_product_items_path(@product.id), method: 'post' %>
  <% end %>
  <p>Descrição: <%= @product.description %></p>
  <p>Dimensões: <%= number_with_precision(@product.width, precision: 2) %> x
                <%= number_with_precision(@product.height, precision: 2) %> x
                <%= number_with_precision(@product.depth, precision: 2) %></p>
  <p>Peso: <%= number_with_precision(@product.weight, precision: 2) %> kg</p>
  <p>Preço do Frete: <%= number_to_currency(@product.shipping_price, unit: "R$ ") %></p>
  <p>Frágil - <%= @product.fragile? ? 'Sim' : 'Não' %></p>
  <p>Preço: <%= number_to_currency(@product.current_price, unit: "R$ ") %></p>
  <% unless @product.cashback.nil? %> 
    <p>Cashback: <%= @product.cashback.extended_description %></p>
  <% end %>
  <% if admin_signed_in? %>
    <p>Status: <%= Product.human_attribute_name("status.#{@product.status}") %></p>

    <% @product.prices.each do |price| %>
      <p>
        <%= "Preço para #{I18n.l(price.start_date)} - #{I18n.l(price.end_date)}:
        #{number_to_currency(price.value, unit: "R$ ")} - Cadastrado por: #{price.admin.name}"%>
      </p>
    <% end %>

    <div>
    Cadastrar novo preço:
    <%= form_with model: @price do |f| %>
      <%= f.hidden_field :admin_id, value: current_admin.id %>
      <%= f.hidden_field :product_id, value: @product.id %>
  
      <%= f.label :start_date %>
      <%= f.date_field :start_date, value: @start_date, readonly: true %>
      <p><%= @price.errors.full_messages_for(:start_date).first if @price.errors.any? %></p>

      <%= f.label :end_date %>
      <%= f.date_field :end_date %>
      <p><%= @price.errors.full_messages_for(:end_date).first if @price.errors.any? %></p>

      <%= f.label :value %>
      <%= f.number_field :value %>
      <p><%= @price.errors.full_messages_for(:value).first if @price.errors.any? %></p>

      <%= f.submit 'Cadastrar preço' %>
    <% end %>
    </div>

    <% if @product.inactive? %>
      <%= button_to 'Ativar', activate_product_path(@product) %>
    <% else %>
      <%= button_to 'Desativar', deactivate_product_path(@product) %>
    <% end %>
  <% end %>
  <p><%= link_to 'Manual', @product.manual if @product.manual.attached? %></p>
</div>
<div>
<br>
  <h3>Avaliações</h3>
  <p><%= link_to 'Faça sua avaliação', new_product_review_path(@product) unless admin_signed_in? %></p>
  <br>
  <% if @reviews.empty? %>
    <p>Não há avaliação cadastrada</p>
  <% else %>
    <% @reviews.each do |review| %>
      <div>
        <p><%= review.client.name %> - <%= time_ago_in_words(review.created_at) %></p>
        <p>Nota: <%= review.rating %></p>
        <p>Comentario: <%= review.comment %></p>
        <br>
      </div>
    <% end %>
  <% end %>
</div>
