<div>
  <h1><%=@product.name%> </h1>
  <% if @product.photos.attached? %>
    <% @product.photos.each do |photo| %>
      <%= image_tag photo %>
    <% end %>
  <% end %>
  <p>Status: <%= Product.human_attribute_name("status.#{@product.status}") %></p>
  <p>Marca: <%= @product.brand %></p>
  <p>SKU: <%= @product.sku %></p>
  <p>Descrição: <%= @product.description %></p>
  <p>Dimensões: <%= number_with_precision(@product.width, precision: 2) %> x
                <%= number_with_precision(@product.height, precision: 2) %> x
                <%= number_with_precision(@product.depth, precision: 2) %></p>
  <p>Peso: <%= number_with_precision(@product.weight, precision: 2) %> kg</p>
  <p>Preço do Frete: <%= number_to_currency(@product.shipping_price, unit: "R$ ") %></p>
  <p>Frágil - <%= @product.fragile? ? 'Sim' : 'Não' %></p>
  <% @product.prices.each do |price| %>
    <p>
      <%= "Preço para #{I18n.l(price.start_date)} - #{I18n.l(price.end_date)}:
      #{number_to_currency(price.value, unit: "R$ ")} - Cadastrado por: #{price.admin.name}"%>
    </p>
  <% end %>
  <p><%= link_to 'Manual', @product.manual if @product.manual.attached? %></p>
</div>