<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class=' bg-blue-600 p-5'>
      <ul class= 'flex text-white justify-between'>
        <div class= 'flex font-semibold items-baseline'>
          <li class= 'mr-4 font-extrabold text-xl text-yellow-400'><h1>E-Commerce</h1></li>
          <li class= 'mr-4'><%= link_to 'Página Inicial', root_path %></li>
          <li class= 'mr-4'><%= link_to 'Produtos', products_path %></li>
        </div>
        <div class= 'flex font-semibold'>
          <% if client_signed_in? %>
            <div class= 'flex'>
              <li class= 'mr-4'><%= current_client.name %> (<%= current_client.email %>)</li>
              <li class= 'mr-4 text-red-500'><%= button_to 'Sair', destroy_client_session_path, method: :delete %></li>
            </div>
          <% end %>
          <% if !admin_signed_in? && !client_signed_in? %>
            <div class= 'flex'>
              <li class= 'mr-4 border px-2 py-1 border-gray-400'><%= link_to "Entrar como Administrador", new_admin_session_path %></li>
              <li class= 'mr-4 border px-2 py-1 border-gray-400'><%= link_to "Entrar como Cliente", new_client_session_path %></li>
            </div>
          <% end %>
          <% if admin_signed_in? %>
            <div class= 'flex'>
              <li class= 'mr-4'><%= link_to 'Categorias', categories_path %></li>
              <li class= 'mr-4'><%= link_to 'Cadastros Pendentes', pending_admins_path %></li>
            </div>
            <div class= 'flex'>
              <li class= 'mr-4'><%= current_admin.name %> (<%= current_admin.email %>)</li>
              <li class= 'mr-4 text-red-500'><%= button_to 'Sair', destroy_admin_session_path, method: :delete %></li>
            </div>
          <% else %>
            <div class= 'flex'>
              <%= link_to '<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>'.html_safe, shopping_cart_path, title:"Carrinho" %>
            </div>
          <% end %>
        </div>
      </ul>
    </nav>

    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
