<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>E-Commerce</h1>
    <nav>
      <ul>
        <li><%= link_to 'Página Inicial', root_path %></li>
        <% if admin_signed_in? %>
          <li><%= link_to 'Categorias', categories_path %></li>
          <li><%= link_to 'Cadastros Pendentes', pending_admins_path %></li>
          <li><%= current_admin.name %> (<%= current_admin.email %>)</li>
          <li><%= button_to 'Sair', destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Entrar como administrador", new_admin_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
